<h1>KDmethod#seq_hydrophobicity</h1>
<p>Find me in app/views/k_dmethod/seq_hydrophobicity.html.erb</p>
<p>K_D Method table</p>
<% @k_d.each do |k,v|	%>
	<%= k  %>
	<%= v  %> </br>
<% end %>
<P>Resultanat from sequence</P>
<% @seq_hydrophob.each do |arr|	%>
	<%= arr[0]  %>
	<%= arr[1]  %> </br>
<% end %>