<h1>KDmethod#seq_hydrophobicity</h1>
<p>Find me in app/views/k_dmethod/seq_hydrophobicity.html.erb</p>
<p>K_D Method table</p>
<% @K_D.each do |k,v|	%>
	<%= k  %>
	<%= v  %> </br>
<% end %>
<P>Resultanat fron sequence</P>
<% @seq_hydrophob.each do |k,v|	%>
	<%= k  %>
	<%= v  %> </br>
<% end %>