<h1>ParseJasonFile#is_a</h1>
<p>Find me in app/views/parse_jason_file/is_a.html.erb</p>

<%	@is_a.each do |n| %>
	<%= n %></br>
<% end %>

<%	@parsed_array.each do |n| %>
	<%= n["id"] %></br>
	<%= n["name"] %></br>
	<%= n["is_a"] %></br><br>
<% end %>
